<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/allQuizes.css">
   
</head>
<body>
    <h1>All quizzes</h1>
    <form action="/teacherLogin/<%=id%>">
        <button>Go Back</button>
    </form>
    <br><br><br>
    <div class="container">
        <% for(let i=0; i<(quizNamesId.length); i++) { %>
            <div style="display: flex;">
                <form action="/teacherLogin/<%=id%>/viewParticular" method="post">
                        <button name="clickedButton" value="<%=quizNamesId[i].dispName%>"><%=quizNamesId[i].dispName%></button>&nbsp;&nbsp;&nbsp;
                </form>
                <% if(quizNamesId[i].isMadeLive == true){ %>
                    <form>
                        <button disabled>make this quiz live</button>&nbsp;&nbsp;&nbsp;
                    </form>
                    <form id="offline">
                        <button onclick="confirmOffline()" name="makeOfflineBtn" value="<%=quizNamesId[i].dispName%>">make this quiz offline</button>&nbsp;&nbsp;&nbsp;
                    </form>
                <% } else if(quizNamesId[i].isMadeLive == false) { %>
                    <form action="/teacherLogin/<%=id%>/makeLive" method="post">
                        <button name="clickedButton" value="<%=quizNamesId[i].dispName%>" id="makeLiveBtn">make this quiz live</button>&nbsp;&nbsp;&nbsp;
                    </form>
                    <form>
                        <button disabled>make this quiz offline</button>&nbsp;&nbsp;&nbsp;
                    </form>
                <% } %>
                <br><br><br>
                <!-- <form id="deleteForm">
                    <button onclick="deleteConfirm()" name="deleteButton" value="<%=quizNamesId[i].dispName%>">remove</button>
                </form> -->
            </div>
        <% } %>
    </div>
    <script>
        // function deleteConfirm(){
        //     const deleteForm = document.getElementById('deleteForm');
        //     if(confirm("Sure you wanna delete it!?")){
        //         deleteForm.setAttribute("action", "/teacherLogin/<%=id%>/deleteQuiz");
        //         deleteForm.setAttribute('method', "post");
        //         deleteForm.submit();
        //     }
        //     else {
        //         event.preventDefault();
        //     }
        // }
        function confirmOffline(){
            const offlineForm = document.getElementById("offline");
            if(confirm("make this offline?")){
                offlineForm.setAttribute("action", "/teacherLogin/<%=id%>/makeOffline");
                offlineForm.setAttribute("method", "post");
                offlineForm.submit();
            } else {
                event.preventDefault();
            }
        }
    </script>
</body>
</html>
