<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makeLive.css">
</head>
<body>
    <h1><%=quizName%></h1>
    <div class="container">
    <h4>Duration: <%=duration%></h4><br>
    <h2>Make quiz Live for?</h2>
    <form id="liveForm" onsubmit="return selectAtleastOne()">
        <label for="cy">CY</label>
        <input name="cy" type="checkbox"><br><br>
        <label for="cs">CS</label>
        <input name="cs" type="checkbox"><br><br>
        <label for="cd">CD</label>
        <input name="cd" type="checkbox"><br><br>
        <button type="submit" value="<%=quizId%>" name="clickedButton" onclick="confirmLive()">submit</button>
    </form>
    <script>
        function selectAtleastOne(){
            let cyChecked = document.getElementsByName("cy")[0].checked;
            let cdChecked = document.getElementsByName("cd")[0].checked;
            let csChecked = document.getElementsByName("cs")[0].checked;
            if(!(cyChecked || csChecked || cdChecked)){
                alert("Please check at least one checkbox.");
                return false;
            }
            return true;
        }
        function confirmLive(){
            const liveForm = document.getElementById("liveForm");
            if(confirm("confirm?")){
                liveForm.setAttribute("action", "/teacherLogin/<%=id%>/madeLive");
                liveForm.setAttribute("method", "post");
                liveForm.submit();
                const duration = "<%=duration%>";
                const totalTime = parseInt(duration)+30;
                alert(`quiz is made available for ${totalTime} mins`)
            } else {
                event.preventDefault();
            }
        }
    </script>
    </div>
</body>
</html>