<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=username%></h1>
    <p><%=subject.code%>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=subject.name%> </p>
    <% for (subStud of subStudArr) { %>
        <div><%= subStud.email%> &nbsp;&nbsp;&nbsp;&nbsp; <%= subStud.username %> </div>
    <% } %>

</body>
</html>