<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }   
    </style>
</head>
<body>
    upload questions
    <br><br><br>

    <form id="quesForm" method="post">
        <label for="question">Question</label>
        <div>
            <textarea name="question" id="" cols="30" rows="3"></textarea>
            <label for="marksOfEachQues">Max marks: </label>&nbsp;&nbsp;
            <input type="number" name="marksOfEachQues">
        </div><br><br>
        <div id="optionsDiv">
            <label for="opt1">Option 1</label>
            <input type="text" name="opt1">
            <label for="correct1">correct ans?</label>
            <input name="correct1" type="checkbox">
            <br><br>
        </div>
        <button type="button" onclick="addAnotherOption()">Add another option</button><br><br>
        <label for="totalMarks">Total Marks</label>
        <input type="number" name="totalMarks">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    
    <form action="/teacherLogin/<%=id%>/uploads/viewAllUploads", method="get">
        <button>View all uploaded questions</button>
    </form>
    <br><br>

    <form action="/teacherLogin/<%=id%>/uploads/<%=subjCode%>/timeInput", method="post">
        <label for="timeInput">Enter the quiz interval in minutes</label>
        <input type="number" name="timeInput" id="timeInput"> 
        <button>Enter</button>
    </form>
    <br>

    Entered time: <%= timeInput %> mins
    <br><br><br>

    <% if(allQuesLen != 0) { %>
        <form id="makeLiveForm" action="/teacherLogin/<%=id%>/uploads/<%=subjCode%>", method="post">
            <%async function deleteFunc(){%>
                <%await btnStatusDB.deleteMany({})%>
            <%}%>
            <%deleteFunc()%>
            <button>make quiz live</button>
        </form>
    <%} else {%>
        <button disabled>make quiz live</button>
    <% } %>    
    <br><br>
    <form action="/teacherLogin/<%=id%>" method="get">
        <button>back</button>
    </form>    
    <script>
        let optionNumber = 1;

        function addAnotherOption() {
            optionNumber++;

            const optionsDiv = document.getElementById('optionsDiv')

            const newLabel = document.createElement("label");
            newLabel.setAttribute("for", `opt${optionNumber}`);
            newLabel.textContent = `Option ${optionNumber} `;
            optionsDiv.appendChild(newLabel);

            const newInput = document.createElement("input");
            newInput.setAttribute("type", "text");
            newInput.setAttribute("name", `opt${optionNumber}`);
            optionsDiv.appendChild(newInput);

            const newIsCorrectLabel = document.createElement("label");
            newIsCorrectLabel.setAttribute("for", `correct${optionNumber}`);
            newIsCorrectLabel.textContent = ' correct ans?';
            optionsDiv.appendChild(newIsCorrectLabel);

            const newIsCorrect = document.createElement('input');
            newIsCorrect.setAttribute('type', 'checkbox');
            newIsCorrect.setAttribute('name', `correct${optionNumber}`);
            optionsDiv.appendChild(newIsCorrect)

            optionsDiv.appendChild(document.createElement("br"));
            optionsDiv.appendChild(document.createElement("br")); 
            const quesForm = document.getElementById('quesForm');
            quesForm.setAttribute('action', `/teacherLogin/<%=id%>/uploads/done/${optionNumber}`)
            return;
        }
        const quesForm = document.getElementById('quesForm');
        quesForm.setAttribute('action', `/teacherLogin/<%=id%>/uploads/done/${optionNumber}`)
    </script>
</body>
</html>