<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><%= quizName %></h1>
        <div style="display: flex;">
            <div>duration: <%= duration %></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div>Total Marks: <%= totalmarks %></div>
        </div><br><br>
        <h4>All questions</h4>
        <br>
        <% for(let i=0; i<(quizQues.length); i++) { %>
            <div> <%= i+1 %> <%= quizQues[i].question %></div>
            <% for(let j=0; j<(quizQues[i].enteredOptions).length; j++) { %>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= (quizQues[i].enteredOptions)[j] %></div>
            <% } %>
            <br><br><br>
        <% } %>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/viewParticular.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <div class="container">
        <h1>
            <%= quizName %>
        </h1>
        <div>
            <span>Duration: <%= duration %> mins</span>
            <span style="margin-left: 20px;">Total Marks: <%= totalmarks %></span>
        </div>
        <br>
        <h4>All questions</h4>
        <br>
        <% for(let i=0; i<(quizQues.length); i++) { %>
            <table class="question-table">
                <tr>
                    <th colspan="2">Question <%= i+1 %>
                    <span style="float: right;">marks: <%=quizQues[i].marks%></span></th>
                </tr>
                <tr>
                    <td colspan="2">
                        $$<%= quizQues[i].question %>$$
                    </td>
                </tr>
            </table>
            <table class="options-table">
                <tr>
                    <th>Options</th>
                </tr>
                <% for(let j=0; j<(quizQues[i].enteredOptions).length; j++) { %>
                    <tr>
                        <td>
                            $$<%= (quizQues[i].enteredOptions)[j] %>$$
                        </td>
                    </tr>
                <% } %>
            </table>
            <table class="options-table">
                <tr>
                    <th>Correct Answers: </th>
                </tr>
                <% for(key in quizQues[i].correctOrWrong){%>
                    <% if(quizQues[i].correctOrWrong[key] === '001'){ %>
                        <tr>
                            <td>$$ <%= key %> $$</td>
                        </tr>
                    <% } %>
                <% } %>
                
            </table>
            <br><br><br>
            <hr>
            <br><br><br>
            <% } %>
    </div>
</body>

</html>