<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/allUploads.css">

</head>

<body>
    <% if(ques.length!=0){ %>
        <h2>The Questions Submitted are:</h2>
        <% for (let i=0; i < ques.length; i++) { %>
            <table>
                <tr>
                    <th>Question</th>
                    <th>Options</th>
                </tr>
                <% for(let j=0; j < (ques[i].options).length; j++) { %>
                    <tr>
                        <td class="empty">
                            <% if(j==(((ques[i].options).length)-1)) { %>
                                <form
                                    action="/teacherLogin/<%=uploadID%>/uploads/viewAllUploads/delete/<%=ques[i]._id%>"
                                    , method="post">
                                    <button>Delete</button>
                                </form>
                                <% } %>

                                    <% if(j==0) { %>
                                        <%= ques[i].question %>
                                            <% } %>
                        </td>
                        <td>
                            <%= ques[i].options[j] %>
                        </td>
                    </tr>
                    <% } %>
            </table> <br><br>
            <% } %>
                <% } else{ %>
                    <h2>No questions added!</h2>
                    <% } %>

                        <form action="/teacherLogin/<%=uploadID%>/uploads" , method="get">
                            <button>Back</button>
                        </form>

</body>

</html>