<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Maths</h1><br><br>
    <div>
        <% quizQues.forEach((quiz)=>{ %>
            <h4><%=quiz.question%></h4>
            <h5><%=quiz.options[0]%></h5>
            <h5><%=quiz.options[1]%></h5>
            <h5><%=quiz.options[2]%></h5>
            <h5><%=quiz.options[3]%></h5>
        <% }) %>
    </div>
</body>
</html>